@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: lato; */
  color-scheme: dark;
  color-scheme: light dark;
  font-family: "Open Sans", sans-serif;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%;
}
body {
  min-width: 32rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 80vw;
  margin: auto;
}

h1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  margin: 3rem;
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li {
  list-style: none;
}

/* navbar styling */
header {
  width: 80vw;
  margin: 0rem auto;
  & nav {
    display: flex;
    justify-content: space-between;
    & .logo {
      font-size: 1.5rem;
      cursor: pointer;
      width: 10rem;
      height: 10rem;
      & img {
        width: inherit;
        height: inherit;
        color: #fff;
      }
    }
    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & li a {
        margin: 0 1rem;
      }
    }
  }
}

/* navbar styling ended */
/* hero section */
main {
  & .hero-container {
    text-transform: uppercase;
    padding: 10rem 4rem;
    background-image: url("./images/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    color: #fff;
    & p {
      margin: 1rem 0;
    }
    & h1 {
      margin-bottom: 2.5rem;
    }
  }
}
/* ABOUT US */
.about-us p {
  text-align: center;
}

/* team member section */
.team-member {
  & .container h1 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 3.7rem;
    margin-bottom: 2.5rem;
  }
  & .team {
    /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  & div img {
    width: 18rem;
    height: 18rem;
  }
}
.member {
  width: 29rem;
}

.name {
  font-weight: 600;
}
/* .role{
  font-size: 1.5rem;
} */

.our-mission {
  & p {
    text-align: center;
  }
}
.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  /* border: 0.1rem solid red; */
}

/* contact us section */
.contact-us {
  & .container {
    /* border: 1px solid red; */
    background: #dedede;
    padding: 2rem 3rem;
  }
  & .contactForm input,
  textarea {
    padding: 0.8rem;
    margin: 1rem 0;
    width: 50%;
  }
  & .contactForm textarea {
    resize: none;
    width: 100%;
  }
  & .btn-container {
    width: 100%;
    text-align: end;

    & .btn {
      padding: 0.6rem 1.5rem;
      letter-spacing: 0.2rem;
      font-weight: 500;
      background: rgb(108, 108, 244);
      border: 0.1rem solid transparent;
      color: #fff;
      cursor: pointer;
    }
  }
}

.section-sub-title {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 3rem;
}

.team {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.team-member {
  text-align: center;
  padding: 20px;
  /* background-color: #d3d3d3; */
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

/* footer styling */

footer {
  margin: 1rem auto;
  margin-top: auto;
  width: 80vw;
  text-align: center;
  padding: 1rem 2rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;

    header nav ul li {
      margin: 10px 0;
    }
    h1 {
      font-size: 3rem;
    }
    main {
      padding: 10px;
    }

    .about-us h1 {
      font-size: 28px;
    }

    .about-us p {
      font-size: 16px;
    }

    .team {
      grid-template-columns: repeat(1, 1fr);
    }
    .image-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .team-member img {
      width: 120px;
      height: 120px;
    }

    .team-member h3 {
      font-size: 20px;
    }
  }
}
